.clients
	.clients__center.center
		.clients__title Trusted by more than 2M users worldwide
		.clients__list
			.clients__logo(data-aos="animation-opacity")
				img(src="img/content/rotashow.svg" alt="Logo")
			.clients__logo(data-aos="animation-opacity")
				img(src="img/content/waves.svg" alt="Logo")
			.clients__logo(data-aos="animation-opacity")
				img(src="img/content/rotashow.svg" alt="Logo")
			.clients__logo(data-aos="animation-opacity")
				img(src="img/content/travelers.svg" alt="Logo")
			.clients__logo(data-aos="animation-opacity")
				img(src="img/content/goldlines.svg" alt="Logo")
			.clients__logo(data-aos="animation-opacity")
				img(src="img/content/velocity9.svg" alt="Logo")
