.section-pb.community
	.community__center.center
		.community__preview(data-aos="animation-translate-up")
			img.some-icon(srcSet="img/content/dumbbell@2x.png 2x"
				src="img/content/dumbbell.png"
				alt="Dumbbell")
			img.some-icon-dark(srcSet="img/content/dumbbell-dark@2x.png 2x"
				src="img/content/dumbbell-dark.png"
				alt="Dumbbell")
		.stage-small Save your time with Stacks
		h2.community__title.h2 Join Fitness Pro Community
		.community__text Join Stacks community now to get free updates and also alot of freebies are waiting for you.
		+subscription("Enter your email")
		.community__note By click sign in you, you agree with Stacks <a href="#">terms</a> and <a href="#">policy</a>
