div(class=classDetails)
	.details__center.center
		.details__head
			.stage-small New workouts added every week
			h2.details__title.h2 A new fitness experience for everyone
		.details__list
			.details__item(data-aos="animation-opacity")
				.details__icon
					svg(xmlns="http://www.w3.org/2000/svg" width="36" height="46" viewBox="0 0 36 46")
						path(fill="#23262f" fill-rule="evenodd" d="M24.292 0c5.947 0 9.815 6.259 7.155 11.578l-1.486 2.971C33.666 17.846 36 22.651 36 28c0 9.941-8.059 18-18 18S0 37.941 0 28c0-5.349 2.334-10.154 6.038-13.451l-1.485-2.971C1.893 6.259 5.761 0 11.708 0h12.584zM18 14c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm6.292-10H11.708C8.735 4 6.801 7.129 8.131 9.789l1.213 2.425A17.92 17.92 0 0 1 18 10a17.92 17.92 0 0 1 8.657 2.215l1.212-2.426C29.199 7.129 27.265 4 24.292 4z")
				.details__category Keep track of calories and macros
				.details__content Fitness Pro helps track your workouts, get better results, and be the best version of you. Less thinking!
			.details__item(data-aos="animation-opacity")
				.details__icon
					svg(xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40")
						path(fill="#23262f" fill-rule="evenodd" d="M34.201 5.917l.05.05.336.35.019.02h0l.036.038.309.339.048.054h0l.018.021C38.119 10.314 40 14.937 40 20s-1.881 9.686-4.982 13.209l-.018.021-.048.055-.309.339-.038.041-.354.368-.05.05-.059.059c-.244.244-.495.482-.751.714l-.071.063-.385.335-.086.073a20.19 20.19 0 0 1-.783.625l-.066.05A19.91 19.91 0 0 1 20 40a19.92 19.92 0 0 1-12.849-4.673l-.086-.073-.384-.335-.071-.064a20.08 20.08 0 0 1-1.213-1.191 20.47 20.47 0 0 1-.395-.435l.357.394-.309-.339-.048-.054h0l-.019-.021C1.881 29.686 0 25.063 0 20s1.881-9.686 4.982-13.209l.019-.021.048-.055.308-.339.036-.038.019-.02c.386-.411.789-.806 1.208-1.183l.06-.054.389-.339.104-.088a19.99 19.99 0 0 1 .82-.651L8 3.999l.034-.025A19.91 19.91 0 0 1 20 0a19.91 19.91 0 0 1 12 3.998l.038.029a20.16 20.16 0 0 1 .788.627l.105.088.389.339.06.054a20.2 20.2 0 0 1 .762.723l.059.059h0zM20 4c-3.338 0-6.438 1.022-9.002 2.771C14.112 10.296 16 14.928 16 20s-1.888 9.704-5 13.229C13.562 34.978 16.662 36 20 36s6.438-1.022 9.002-2.771C25.888 29.704 24 25.072 24 20s1.888-9.704 5-13.229C26.438 5.022 23.338 4 20 4zM8 9.417l-.111.126C5.466 12.347 4 16.002 4 20a15.94 15.94 0 0 0 4 10.583c2.49-2.821 4-6.526 4-10.583A15.94 15.94 0 0 0 8 9.417zm24.001.001l-.108.122C29.467 12.344 28 16.001 28 20a15.94 15.94 0 0 0 3.999 10.582A15.93 15.93 0 0 0 36 20a15.94 15.94 0 0 0-3.999-10.582z")
				.details__category Access all premium class of Fitness Pro
				.details__content Fitness Pro helps track your workouts, get better results, and be the best version of you. Less thinking!
			.details__item(data-aos="animation-opacity")
				.details__icon
					svg(xmlns="http://www.w3.org/2000/svg" width="38" height="44" viewBox="0 0 38 44")
						path(fill="#23262f" fill-rule="evenodd" d="M18 8c9.941 0 18 8.059 18 18s-8.059 18-18 18S0 35.941 0 26 8.059 8 18 8zm0 4c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zm0 4a2 2 0 0 1 2 2v8a2 2 0 1 1-4 0v-8a2 2 0 0 1 2-2zm14.586-9.414a2 2 0 0 1 2.828 0h0l2 2a2 2 0 0 1-2.828 2.828h0l-2-2a2 2 0 0 1 0-2.828zM22 0a2 2 0 1 1 0 4h0-8a2 2 0 1 1 0-4h0z")
				.details__category Keep track of calories and macros
				.details__content Fitness Pro helps track your workouts, get better results, and be the best version of you. Less thinking!