footer.footer
	.footer__body
		.footer__center.center
			.footer__col
				.footer__box
					a.footer__logo(href="index.html")
						img.some-icon(src="img/logo-dark.svg" alt="Fitness Pro")
						img.some-icon-dark(src="img/logo-light.svg" alt="Fitness Pro")
					+theme
				.footer__item
					.footer__category footer nav
						+i('arrow-bottom')
					.footer__menu
						a.footer__link(href="lifestyle.html") Lifestyle
						a.footer__link(href="pricing.html") Pricing
						a.footer__link(href="class01.html") Class
						a.footer__link(href="features.html") Features
						a.footer__link(href="download.html") Download
			.footer__col
				.footer__category contact
				.footer__info
					p 43252 Borer Mountains
					p Zackerychester
					p Bahamas
					p 732-528-4945
			.footer__col
				.footer__category newsletter
				.footer__info Subscribe our newsletter to get more free design course and resource.
				+subscription("Enter your email")
	.footer__bottom
		.footer__center.center
			.footer__copyright Copyright © 2021 UI8 LLC. All rights reserved
			.footer__socials
				a.footer__social(href="https://www.facebook.com/ui8.net/" target="_blank")
					+i('facebook')
				a.footer__social(href="https://twitter.com/ui8" target="_blank")
					+i('twitter')
				a.footer__social(href="https://www.instagram.com/ui8net/" target="_blank")
					+i('instagram')
				a.footer__social(href="https://dribbble.com/ui8" target="_blank")
					+i('dribbble')
				a.footer__social(href="https://www.behance.net/ui8" target="_blank")
					+i('behance')


