div(class=classOffers)
	.offers__center.center
		.stage try it free for 14 days 🎾
		h2.offers__title.h1 Anywhere you want. Anytime you want.
		.offers__text Get started with two free weeks of unlimited yoga, fitness, and meditation classes. Cancel anytime.
		a.button.offers__button(href="download.html") Start free trial