div(class=classReview)
	.review__center.center
		.review__wrap
			.review__slider.js-slider-review
				.review__slide
					.review__item
						.review__logo
							img(src="img/content/velocity9.svg" alt="Velocity9")
						.review__title The greatest fitness app. It's clear the makers behind this thing use it every week, because it is so perfect. 
						.review__author Dorthy Runolfsdottir
						.review__position Lead Visual Designer at UI8
				.review__slide
					.review__item
						.review__logo
							img(src="img/content/travelers.svg" alt="Travelers")
						.review__title The best of all the workout apps I have tried on iOS. I have used Fitness Pro for more than a year now. It is intuitive and clean, awesome app.
						.review__author Dorthy Runolfsdottir
						.review__position Lead Visual Designer at UI8
				.review__slide
					.review__item
						.review__logo
							img(src="img/content/goldlines.svg" alt="Goldlines")
						.review__title The greatest fitness app. It's clear the makers behind this thing use it every week, because it is so perfect. 
						.review__author Dorthy Runolfsdottir
						.review__position Lead Visual Designer at UI8